@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Old Theme */
  /* https://realtimecolors.com/?colors=f2edfd-0a0416-5416d0-1c024f-c61ce8 */
  /* --color-background-light: #f2edfd;
  --color-background-dark: #0a0416;
  --color-primary: #5416d0;
  --color-secondary: #1c024f;
  --color-accent: #c61ce8; */

  /* Reworked Theme */
  --color-background-darker: oklch(0.13 0.04 300);
  --color-background-dark: oklch(0.18 0.04 300);

  /* "Lighter" and "Light" is switched due to weird name hierarchy if not switched */
  --color-background-lighter: oklch(0.90 0.02 300);
  --color-background-light: oklch(0.95 0.02 300);

  --color-text-darker: oklch(0.13 0.06 300);
  --color-text-dark: oklch(0.53 0.06 300);

  --color-text-lighter: oklch(0.95 0.02 300);
  --color-text-light: oklch(0.55 0.06 300);

  --color-primary: oklch(0.45 0.24 285);
  --color-secondary: oklch(0.22 0.12 286);
  --color-accent: oklch(0.61 0.28 320);
}

@theme inline {
  --font-sans: 'Roboto', var(--font-geist-sans), var(--font-sans);
  --font-mono: var(--font-geist-mono), var(--font-mono);
  --default-transition-duration: 100ms;
}

@layer base {
  html {
    scroll-behavior: smooth !important;
    /* Hacky way to stop the navbar (due to it being fixed) from "jumping" when opening HeadlessUI dialog */
    /* Side effects: body can still be scrolled when dialog is open */
    /* https://github.com/tailwindlabs/headlessui/issues/762#issuecomment-2118417556 */
    overflow: auto !important;
    padding: 0 !important;
  }

  /* p {
    @apply text-base md:text-lg xl:text-xl;
  } */

  ::selection {
    @apply bg-primary text-white;
  }
}

@layer components {
  .text-size-4xl {
    @apply text-4xl md:text-5xl xl:text-6xl;
  }

  .text-size-3xl {
    @apply text-3xl md:text-4xl xl:text-5xl;
  }

  .text-size-2xl {
    @apply text-2xl md:text-3xl xl:text-4xl;
  }

  .text-size-xl {
    @apply text-xl md:text-2xl xl:text-3xl;
  }

  .text-size-lg {
    @apply text-lg md:text-xl xl:text-2xl;
  }

  .text-size-base {
    @apply text-base md:text-lg xl:text-xl;
  }

  .text-size-sm {
    @apply text-sm md:text-base xl:text-lg;
  }

  .text-size-xs {
    @apply text-xs md:text-sm xl:text-base;
  }

  .text-size-reset {
    @apply !text-base;
  }
}

@layer utilities {
  /* Should probably be in components. But it got overwritten by tailwind built-in class */
  .container {
    @apply max-w-lg sm:max-w-2xl md:max-w-4xl lg:max-w-7xl mx-auto px-6 md:px-12;
  }

  .gradient__ll, .gradient__lr, .gradient__lt, .gradient__lb {
    @apply from-primary to-accent
  }

  .gradient__ll {
    @apply bg-linear-to-l
  }

  .gradient__lr {
    @apply bg-linear-to-r
  }

  .gradient__lt {
    @apply bg-linear-to-t
  }

  .gradient__lb {
    @apply bg-linear-to-b
  }

  .gradient-text {
    @apply bg-clip-text text-transparent pb-2 -mb-2 underline;
  }
}

/* https://tailwindcss.com/docs/adding-custom-styles#simple-utilities */
@utility bg-theme {
  @apply bg-background-light dark:bg-background-dark transition-colors;
}

@utility bg-themer {
  @apply bg-background-lighter dark:bg-background-darker transition-colors;
}

@utility text-theme {
  @apply text-text-dark dark:text-text-light transition-colors;
}

@utility text-themer {
  @apply text-text-darker dark:text-text-lighter transition-colors;
}

.embla {
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;

  @apply relative w-full m-auto
}

.embla__viewport {
  @apply overflow-hidden
}

.embla__container {
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);

  @apply flex aspect-4/3
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);

  @apply flex justify-center items-center aspect-4/3
}

.embla__slide img {
  @apply h-full object-contain object-center
}

.embla__button {
  @apply absolute inset-y-0 h-full px-2 text-white transition-colors cursor-pointer z-10 from-transparent to-secondary/40 hover:to-secondary/70;
}

.embla__button--prev {
  @apply left-0 bg-linear-to-l;
}

.embla__button--next {
  @apply right-0 bg-linear-to-r;
}

.embla__dots {
  @apply absolute inset-x-0 bottom-0 flex flex-row justify-center p-4 space-x-3;
}

.embla__dot {
  @apply relative w-3 h-3 bg-background-light rounded-full shadow-2xl ring-1 ring-accent cursor-pointer transition
}

.embla__dot--selected {
  @apply ring-3 ring-accent
}
